body {
    font-family: "Roboto", sans-serif;
    color: #434455;;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.titlehed {
    color: #4D5AE5
}



.navigator {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.links {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.effective {
    background-color: #2E2F42;
}

.zagolovok {
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

}

.order-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;

}



.team {
    background-color: #F4F4FD;
}

ul {
    list-style-type: none;
}



.team-card {
    background-color: #FFFFFF;



}

.team-content {
    text-align: center;

}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}



.footer-section {
    background-color:#2E2F42;
    color: #F4F4FD;
}

.navigator-sec {
    color:#f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.links:hover,
.links:focus {
    color: #404bbf;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

.adress{
    font-style: normal;
    color:#434455;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.adress:hover,
.adress:focus {
    color: #404bbf;
}



.title-thr{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2E2F42;
}

.footer-text{
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

